@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
  overflow: hidden;
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #e5f0e8;
  height: 65px;
  z-index: 9;
}
#sidebar {
  position: fixed;
  left: 0;
  top: 12%;
  width: 208px;
  height: 100%;
  margin-top: 0px;
  background: transparent;
  border-top-right-radius: 7px;
  transition: 0.3s all;
}
#sidebar.active {
  min-width: 90px !important;
}

#content {
  background-color: #f7f8fa;
  width: calc(100% - 208px);
  margin-left: 208px;
  margin-top: 65px;
  height: 100%;
  min-height: 100vh;
  transition: 0.3s all;
}
#content.active {
  width: calc(100% - 90px);
  margin-left: 90px;
}

.main-color {
  color: #3a8352;
}

.menu-title {
  color: #b8bfcc;
  font-size: 14px;
}

.menu-title.active {
  display: none;
}
@media (max-width: 767.9px) {
  #sidebar .n-submenu-children {
    position: absolute;
    left: 96px;
    top: 0px;
    overflow: visible;
    z-index: 99;
    background: #fff;
    border-radius: 8px;
    width: 150px;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.1),
      0px 13px 13px 0px rgba(0, 0, 0, 0.09),
      0px 29px 18px 0px rgba(0, 0, 0, 0.05),
      0px 52px 21px 0px rgba(0, 0, 0, 0.01), 0px 82px 23px 0px rgba(0, 0, 0, 0);
    padding-bottom: 5px;
  }
  .n-menu {
    overflow: visible !important;
  }
  #sidebar .n-menu .n-menu-item-content {
    width: 90px;
  }
  #sidebar .n-menu .n-submenu-children .n-menu-item-content {
    /* width: fit-content !important; */
    padding-left: 10px !important;
  }
  #sidebar .n-submenu-children .dropdown-item {
    display: block;
  }
  #sidebar .n-submenu-children .n-menu-item-content-header img {
    width: 15px !important;
    height: 15px !important;
  }
  #sidebar .n-submenu-children .n-menu-item-content-header .dropdown-item {
    font-size: 11px !important;
  }
  #sidebar .n-submenu-children .n-menu-item-content {
    width: 100% !important;
  }
  #sidebar .n-submenu-children .n-menu-item,
  #sidebar .n-submenu-children .n-menu-item-content {
    height: 30px;
  }
  .menu-title {
    display: none;
  }
  #content {
    width: calc(100% - 90px);
    margin-left: 90px;
    padding-right: 10px !important;
  }
  #sidebar {
    width: 90px;
  }
  .n-menu-item-content-header img {
    width: 24px !important;
    height: 24px !important;
  }
  .n-menu .n-menu-item-content .n-menu-item-content__arrow {
    display: none !important;
  }
  .nav-item {
    display: none;
  }
  #header {
    padding: 10px !important;
  }
  .admin-image img {
    width: 30px;
    height: 30px;
  }
  .Logo h1 {
    font-size: 20px !important;
  }
  #cut-circ {
    left: 67px !important;
    transform: translate(-93px, -24px) rotate(-101deg) !important;
  }

  .table-container {
    overflow-x: auto;
    width: 400px;
  }
  .table-container table {
    min-width: 700px;
  }
  .shown-content {
    flex-direction: column;
  }
  #project-menu {
    flex-direction: row !important;
    overflow-x: auto;
  }
  .menu-button {
    min-width: 99px;
    font-size: 9px;
  }
  .bread-crumb span {
    font-size: 12px !important;
  }
  #project-content {
    margin: 0px !important;
  }
  .filters {
    overflow-x: auto;
  }

  /* .filters .n-button__content {
    display: none;
  } */
}
#sidebar.active .n-submenu-children {
  position: absolute;
  left: 96px;
  top: 0px;
  overflow: visible;
  z-index: 99;
  background: #fff;
  border-radius: 8px;
  width: 150px;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.1),
    0px 13px 13px 0px rgba(0, 0, 0, 0.09), 0px 29px 18px 0px rgba(0, 0, 0, 0.05),
    0px 52px 21px 0px rgba(0, 0, 0, 0.01), 0px 82px 23px 0px rgba(0, 0, 0, 0);
  padding-bottom: 5px;
}
.n-menu {
  overflow: visible !important;
}
#sidebar.active .n-menu .n-menu-item-content {
  width: 90px;
}
#sidebar.active .n-menu .n-submenu-children .n-menu-item-content {
  /* width: fit-content !important; */
  padding-left: 10px !important;
}
#sidebar.active .n-submenu-children .dropdown-item {
  display: block;
}
#sidebar.active .n-submenu-children .n-menu-item-content-header img {
  width: 15px !important;
  height: 15px !important;
}
#sidebar.active .n-submenu-children .n-menu-item-content-header .dropdown-item {
  font-size: 11px !important;
}
#sidebar.active .n-submenu-children .n-menu-item-content {
  width: 100% !important;
}
#sidebar.active .n-submenu-children .n-menu-item,
#sidebar.active .n-submenu-children .n-menu-item-content {
  height: 30px;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #3a835259;
  border-radius: 5px;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.3s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.border-bottom {
  border-bottom: 1px solid #0000000f;
}
.main-btn {
  border-radius: 10px;
  border: 2px solid #3a8352;
  background: #3a8352;
  color: #fff;
}
button {
  border: none;
  outline: none;
}
